---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Historia from '../components/Historia.astro'
import Pedido from '../components/Pedido.astro'
import Footer from '../components/Footer.astro'
import Cardapio from '../components/Cardapio.astro'
import RedesSociais from '../components/RedesSociais.astro'
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="icon" href="/meupudizim.ico" />
    
    <meta name="generator" content={Astro.generator} />
    
    <title>Meu Pudizim — O pudim que aquece o coração</title>
  </head>
  
  <body>
    <Header />
    <Hero />
    <Historia />
    <Cardapio />
    <RedesSociais />
    <Pedido />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #0e0704; 
  }
</style>